---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      tier: backend
      track: stable
  replicas: 6
  template:
    metadata:
      labels:
        tier: backend
        track: stable
    spec:
      containers:
        - name: backend
          imagePullPolicy: Always
          resources:
            limits:
              cpu: "500m"
              memory: "1Gi"
            requests:
              cpu: "300m"
          image: "backend"
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: opendraw-secrets
                  key: OPENAI_API_KEY      
          ports:
            -  containerPort: 8000
          lifecycle:
            preStop:
              exec:
                command:  ["sh", "-c", "sleep 5"]
          readinessProbe:
            httpGet:
              path: /api/v1/health  # Adjust the path based on your BASE_PATH and routing
              port: 8000  # The port your application is running on
            initialDelaySeconds: 10  # Time to wait before first check
            periodSeconds: 15  # How often to perform the check
      terminationGracePeriodSeconds: 40        
...