---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      tier: backend
      track: stable
  replicas: 2
  template:
    metadata:
      labels:
        tier: backend
        track: stable
    spec:
      containers:
        - name: backend
          imagePullPolicy: Always
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "200m"
          image: "backend"
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: opendraw-secrets
                  key: OPENAI_API_KEY      
          ports:
            -  containerPort: 8000 
...