---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      tier: backend
      track: stable
  replicas: 2
  template:
    metadata:
      labels:
        tier: backend
        track: stable
    spec:
      containers:
        - name: backend
          imagePullPolicy: Always
          resources:
            limits:
              cpu: "1000m"
              memory: "1Gi"
            requests:
              cpu: "200m"
          image: "us-west1-docker.pkg.dev/opendraw/opendraw-repo/opendraw-backend:latest"
          ports:
            -  containerPort: 8000
...